body {
  max-width: 1980px;
  margin: auto;
  min-width: 350px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: black;
}
body h1, body h2, body h3, body h4, body h5 {
  font-family: "Shrikhand", sans-serif;
}

.btn {
  border-radius: 20px;
  border: none;
  color: white;
  height: 40px;
  width: 190px;
  padding: 10px;
  margin-top: 20px;
  background: linear-gradient(#FF79DA, #9356DC);
  font-weight: bold;
}
.btn:hover {
  background: linear-gradient(#ff93e1, #a16be0);
  box-shadow: 6px 6px 6px lightgray;
}

.btn-secondary {
  height: 70px;
  width: 85%;
  max-width: 350px;
  min-width: 250px;
  padding: 10px;
  border: none;
  border-radius: 20px;
  font-weight: bold;
  font-size: 14px;
  box-shadow: 4px 4px 4px lightgray;
  background-color: #f6f6f6;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.btn-secondary i {
  font-size: 17px;
  color: #7e7e7e;
  margin-left: 9%;
  margin-right: 9%;
}
.btn-secondary .vignette {
  position: absolute;
  top: 25px;
  left: -7px;
}
.btn-secondary:hover {
  background: #f2eafb;
  box-shadow: 6px 6px 6px lightgray;
}
.btn-secondary:hover i {
  color: #9356DC;
}

.vignette {
  display: inline-block;
  border-radius: 50px;
  background-color: #9356DC;
  width: 24px;
  height: 24px;
  color: white;
  text-align: center;
  font-size: 14px;
}

.new {
  display: inline-block;
  text-align: center;
  background-color: #99e2d0;
  color: #30a387;
  width: 60px;
  height: 15px;
  font-weight: bold;
  font-size: 12px;
  padding: 5px;
}

header {
  display: flex;
  justify-content: center;
  height: 60px;
  margin-bottom: 4px;
  box-shadow: 0 4px 4px lightgray;
}
header h1 {
  margin: 10px 0 10px 0;
}

nav .conteneur {
  background-color: #f6f6f6;
  padding: 0 0 10px 0;
  height: 240px;
}
@media screen and (min-width: 768px) {
  nav .conteneur {
    height: auto;
  }
}

.conteneur {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.conteneur__texte {
  text-align: center;
  margin: 30px 15% 0px 15%;
}
.conteneur--bold {
  font-weight: bold;
  font-size: 22px;
}
.conteneur__description {
  margin: 10px 10% 10px 10%;
  text-align: center;
  color: #656565;
}

@media screen and (min-width: 768px) {
  .conteneur-tablet {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: auto;
  }
}

.recherche {
  text-align: center;
  padding: 10px 0 10px 0;
  color: #353535;
  background-color: #eaeaea;
}
.recherche i {
  margin-right: 10px;
  margin-left: 30px;
}
.recherche input {
  border: none;
  background-color: #eaeaea;
  font-weight: bold;
}

footer {
  background-color: #353535;
  padding-bottom: 10px;
  padding-top: 15px;
  color: white;
}
footer a {
  color: white;
}
footer h4 {
  font-size: 16px;
  font-weight: normal;
  margin: 0 0 15px 30px;
}
footer ul {
  padding-left: 30px;
}
footer ul i {
  margin-right: 5px;
  width: 20px;
}
footer li {
  list-style: none;
  margin-top: 5px;
}

.restaurant {
  background-color: #f6f6f6;
  margin-top: 20px;
  padding: 30px 0 60px 0;
}

.restaurant-prev {
  width: 90%;
  max-width: 400px;
  height: 220px;
  border-radius: 15px;
  margin-top: 20px;
  position: relative;
  box-shadow: 4px 4px 4px lightgray;
}
.restaurant-prev__image {
  height: 70%;
  width: 100%;
}
.restaurant-prev img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 15px 15px 0 0;
}
.restaurant-prev__heading {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 67px;
}
.restaurant-prev__heading__description {
  width: 50%;
  margin-left: 15px;
}
.restaurant-prev__heading__description p {
  margin: 0;
}
.restaurant-prev__heading__anim {
  font-size: 25px;
}
.restaurant-prev__heading__anim i {
  position: absolute;
  top: 175px;
  right: 20px;
}
.restaurant-prev .title-card {
  font-weight: bold;
  margin-bottom: 5px;
}
.restaurant-prev .new {
  position: absolute;
  top: 10px;
  right: 10px;
}
.restaurant-prev:hover {
  box-shadow: 10px 10px 10px lightgray;
}
@media screen and (min-width: 768px) {
  .restaurant-prev {
    margin-left: 10px;
    margin-right: 10px;
  }
}

.functioning {
  margin: 30px 0 30px 0;
}
.functioning .btn-secondary {
  margin: 10px 0 10px 0;
}
@media screen and (min-width: 768px) {
  .functioning .btn-secondary {
    margin-left: 10px;
    margin-right: 10px;
  }
}

.title-section {
  font-size: 22px;
  font-weight: bold;
  font-family: "Roboto";
  margin: 20px 0 0 20px;
}

/*# sourceMappingURL=style.css.map */
