.btn{
    border-radius: 20px ;
    border: none;
    color: white;
    height: 40px;
    width: 190px;
    padding: 10px;
    margin-top: 20px;
    @include btn-color;
    font-weight: bold;
    cursor: pointer;
        
    
}

.btn-secondary{
    height: 70px;
    width: 85%;
    max-width: 350px;
    min-width: 200px;
    padding: 10px;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    font-size: 14px;
    @include box-shadow;
    background-color: #f6f6f6;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    
    i{
        font-size: 17px;
        color: #7e7e7e;
        margin-left: 9%;
        margin-right: 9%;
    }
    .vignette{
        position: absolute;
        top: 25px;
        left: -7px;
    }
    &:hover{
        i{
            color: $primarycolor;
        }
        background: lighten($primarycolor, 35%);
        @include box-shadow(6px,)
    }
    
    
}

.btn-return{
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 20px;
}

.btn-add{
    display: flex;
    justify-content: space-between;
    align-items: end;
    height: 45px;
    width: 85%;
    background-color: #fff;
    max-width: 350px;
    min-width: 200px;
    padding: 10px;
    border-radius: 20px;
    font-size: 14px;
    margin: 10px 0 5px 0;
    @include box-shadow;
    &:hover{
        .vignette-check{
            width: 60px;
            transition-duration: 1s;
        }
    }
    &__description{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 60%;
        p{
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
    }
    &__title{
        font-size: 15px;
        font-weight: bold;
        margin-top: 10px;
    }
    p{
        margin-top: 0;
        margin-bottom: 4px;
    }
    .cost{
        font-weight: bold;
        margin-right: 10px;
    }
    .vignette-check{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color:rgb(153, 226, 208);
        height: calc(100% + 20px);
        border-radius: 0 20px 20px 0;
        position: relative;
        top: 10px;
        margin-right: -10px;
        width: 0;
        i{
            font-size: 18px;
            background-color:  rgb(153, 226, 208);
            color: white;
        }
    }
}