.btn{
    border-radius: 20px ;
    border: none;
    color: white;
    height: 40px;
    width: 190px;
    padding: 10px;
    margin-top: 20px;
    background: linear-gradient($secondarycolor,$primarycolor);
    font-weight: bold;
        
    
}

.btn-secondary{
    height: 70px;
    width: 85%;
    max-width: 350px;
    padding: 10px;
    border: none;
    border-radius: 20px;
    @include box-shadow;
    background-color: #f6f6f6;
    position: relative;
    p{
        font-weight: bold;
        font-size: 14px;
    }
    i{
        font-size: 17px;
        color: #7e7e7e;
        margin-left: 9%;
        margin-right: 9%;
    }
    &__description{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        
    }
    .vignette{
        position: absolute;
        top: 25px;
        left: -7px;
    }
    
    
}


