.btn{
    border-radius: 20px ;
    border: none;
    color: white;
    height: 40px;
    width: 190px;
    padding: 10px;
    margin-top: 20px;
    @include btn-color;
    font-weight: bold;
        
    
}

.btn-secondary{
    height: 70px;
    width: 85%;
    max-width: 350px;
    min-width: 200px;
    padding: 10px;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    font-size: 14px;
    @include box-shadow;
    background-color: #f6f6f6;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
    i{
        font-size: 17px;
        color: #7e7e7e;
        margin-left: 9%;
        margin-right: 9%;
    }
    .vignette{
        position: absolute;
        top: 25px;
        left: -7px;
    }
    &:hover{
        i{
            color: $primarycolor;
        }
        background: lighten($primarycolor, 35%);
        @include box-shadow(6px,)
    }
    
    
}

.btn-return{
    border: none;
    background-color: white;
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 20px;
}

.btn-add{
    display: block;
    display: flex;
    justify-content: space-around;
    align-items: end;
    height: 45px;
    width: 85%;
    max-width: 350px;
    min-width: 200px;
    padding: 10px;
    border-radius: 20px;
    font-size: 14px;
    margin: 10px 0 5px 0;
    @include box-shadow;
    &__description{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &__title{
        font-size: 15px;
        font-weight: bold;
        margin-top: 10px;
    }
    p{
        margin-top: 0;
        margin-bottom: 4px;
    }
    .cost{
        font-weight: bold;
    }
    .vignette-check{
        display: none;
    }
}