.conteneur{
    display: flex ;
    flex-direction: column;
    align-items: center;
    &__texte{
        text-align: center;
        margin: 30px 15% 0px 15%;
        
    }
    &--bold{
        font-weight: bold;
        font-size: 22px;
    }
    &__description{
        margin: 10px 10% 10px 10%;
        text-align: center;
        color: #656565;
    }
}



