.recherche{
    text-align: center;
    padding: 10px 0 10px 0;
    color: #353535;
    background-color: #eaeaea;
    i{
        margin-right: 10px;
        margin-left: 30px;
    }
    input{
        border: none;
        background-color: #eaeaea;
        font-weight: bold;
    }
}