nav{
    margin-top: 2px;
    box-shadow: 0 -2px 2px lightgray;
    .conteneur{
        background-color: #f6f6f6;
        padding: 0 0 10px 0;
        height: 240px;
        @include tablet {
            height: auto;
        }
    }
}